@import "tailwindcss";

@theme {
  --color-primary: #1A56DB;
  --color-panelhero: #1C64F2;
  --color-background: #FFFFFF;
  --color-foreground: #0F172A;
  --color-muted: #94A3B8;
  --color-accent: #60A5FA;
  --color-success: #16A34A;
  --color-danger: #DC2626;
  --color-border: #D1D5DB;
  --color-gray: #111928; 
  --color-light-gray: #E5E7EB;
  
  --font-family-sans: Inter, ui-sans-serif, system-ui;
}

body {
  font-family: var(--font-family-sans);
}
